.one{
padding-left: 30px;
padding-top: 20px;
}

 .heading{
    padding-top: 10px;
    padding-top: 40px;
 }
 .input{
    padding-left: 30px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;

 }
.input2{
    width: 100px;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    
}
.heading1{
    padding-bottom: 15px;
    padding-top: 40px;

}
.second{
      padding-top: 50px;
}
.dib{
    background: rgb(193,222,232);
    background: linear-gradient(90deg, rgba(193,222,232,1) 0%, rgba(251,217,185,1) 100%);
    height: 380px;  
}
.dibs{
    background: rgb(193,222,232);
    background: linear-gradient(90deg, rgba(193,222,232,1) 0%, rgba(251,217,185,1) 100%);
}

.third{
    padding-top: 25px;
    justify-content: space-evenly;   
}

.logo{
      padding-left: 500px; 
}



@media screen and (max-width:576px){
     
   .row{
       display: block !important;
   }
   .navbar-nav{
       background-color: rgb(248, 249, 250) !important;
       border: none !important;
   }
   .navbar {
    height: auto !important;
    width: 410px!important;
   }
   .cards{
       display:block !important;
       
   }
   .card-img{
        display:block !important;
    
   }
   .dib{
    height: auto !important; 
    margin-left: 20px !important;

   }
   .dibs{
    height: auto !important;
    margin-left: 15px !important;
}
.card{
    width: 390px !important;
}
.image{
    width: 150px !important;
}
.imgs{
    width: 350px !important;

}
}




@media screen and(max-width:768px) {
    .imgs{
        width: 350px !important;
    
    }
    .card{
        width: 390px !important;
    }
   .row{
       display: block !important;
       
   }
   .navbar-nav{
       background-color: rgb(248, 249, 250) !important;
       border: none !important;
   }
    .cards{
        display: block !important;
    }
    .card-img{
        display:block !important;
   }
   .dib{
    height: auto !important;
    width: auto !important;
    
   }
   .dibs{
    height: auto !important;
    width: auto !important;
   }
   .image{
    width: 150px !important;
   }
   .navbar {
    height: auto !important;
    width: 430px!important;
   }
   
} 